{% extends "base.html" %}

{% block title %}Game Settings{% endblock title %}
{% block description %}Game settings page, toggle certain features{% endblock %}
{% block ogdescription %}Game settings page, toggle certain features{% endblock %}

{% block content %}
<div class="container-fluid p-5">
	<div class="container">
		<h1 class="display-3" id="quiz_name">Settings</h1>
		{% include "components/alert.html" %}
		<a href="{{ url_for('play_bp.game') }}" class="btn btn-dark"><i class="fas fa-backspace"></i> Back</a>
		<a href="{{ url_for('play_bp.leave_game') }}" class="btn btn-danger"><i class="fas fa-window-close"></i> Leave Game</a>
		<hr />
		<div id="main_game" data-code="{{ session.game_code }}">
			<h2>Loading settings..</h2>
			<div class="text-light d-flex align-items-center">
			  	<strong id="loading_status">Loading text...</strong>
			  	<div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block pageend %}
<script src="{{ url_for('static', filename='js/play/api.js') }}" type="text/javascript"></script>
{% endblock %}
