body {
    background: #141516;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased
}

.jumbotron {
    background-color: #141516;
}

.display-2{
    color: white;
}

.table{
    color: white;
}