{% extends "base.html" %}

{% block title %}Account Password{% endblock title %}

{% block content %}
<div class="container-fluid p-5">
	<div class="container">
		<h1 class="display-3">Delete Account</h1>
		{% include "components/alert.html" %}
		<hr />

		<blockquote>"You have the right to obtain from the controller the erasure of your personal data without undue delay."</blockquote>
		<p class="lead">
			Under Article 17 of the GDPR you have the right to erase your personal data from Lancometer.<br />
			Please be aware that this action will delete your account, content and any trace of you on the system.
		</p>
		{% if current_user.account_type > 2 %}
			<p class="lead text-danger font-weight-bold">
			Your account has higher access than regular users. Please be aware that deleting it will likely affect other users.
			</p>
		{% endif %}

		<form id="delete" class="mt-3" action="{{ url_for('user_bp.delete') }}" method="POST">
			{{ delf.csrf_token }}
			<div class="mb-3">
				{{ delf.password.label(class="form-label") }}
				{{ delf.password(class="form-control form-control-lg") }}
			</div>
			<p class="lead">This action is not reversible.</p>
			<button type="submit" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Delete Account</button>
		</form>
	</div>
</div>
{% endblock content %}
