{% extends "base.html" %}

{% block title %}Account Email{% endblock title %}
{% block description %}Change your email address on Lancometer, this is what you sign in with{% endblock %}
{% block ogdescription %}Change your email address on Lancometer, this is what you sign in with{% endblock %}

{% block content %}
<div class="container-fluid p-5">
	<div class="container">
		<h1 class="display-3">Change Email</h1>
		{% include "components/alert.html" %}
		<hr />
		<form id="email_change_form" class="mt-3" action="{{ url_for('user_bp.email') }}" method="POST">
			{{ change_email.csrf_token }}

			<div class="mb-3">
				<label for="static_email" class="form-label">Current Email</label>
				<input type="text" readonly class="form-control" id="static_email" value="{{ current_user.email }}">
			</div>
			<div class="mb-3">
				{{ change_email.new_email.label(class="form-label") }}
				{{ change_email.new_email(class="form-control") }}
			</div>
			<div class="mb-3">
				{{ change_email.password.label(class="form-label") }}
				{{ change_email.password(class="form-control") }}
			</div>
			<button type="submit" class="btn btn-outline-success"><i class="fas fa-key"></i> Update Email</button>
		</form>
		<hr/>
		<div class="float-right">
			<a href="{{ url_for('user_bp.account') }}" class="btn btn-outline-primary"><i class="fas fa-user"></i> Account Settings</a>
		</div>
	</div>
</div>
{% endblock content %}
