{% extends "base.html" %}

{% block title %}Account Password{% endblock title %}

{% block pagehead %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}" />
{% endblock pagehead %}

{% block content %}
<div class="container-fluid p-5">
	<div class="container">
		<h1 class="display-3">Change Password</h1>
		{% include "components/alert.html" %}
		<hr />
		<form id="password_change_form" class="mt-3" action="{{ url_for('user_bp.password') }}" method="POST">
			{{ change_password.csrf_token }}
			<div class="mb-3">
				{{ change_password.old_password.label(class="form-label") }}
				{{ change_password.old_password(class="form-control") }}
			</div>
			<div class="mb-3">
				{{ change_password.new_password.label(class="form-label") }}
				{{ change_password.new_password(class="form-control") }}
				<small>Make it secure please.</small>
			</div>
			<div class="mb-3">
				{{ change_password.confirm_password.label(class="form-label") }}
				{{ change_password.confirm_password(class="form-control") }}
			</div>
			<button type="submit" class="btn btn-outline-success"><i class="fas fa-key"></i> Change Password</button>
		</form>
		<hr />
		<div class="float-right">
			<a href="{{ url_for('user_bp.account') }}" class="btn btn-outline-primary"><i class="fas fa-user"></i> Account Settings</a>
		</div>
	</div>
</div>
{% endblock content %}
